@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

*{
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
}

.jobs-page{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, #fff 75%, #031149 25%);
    min-height: 100vh;
    line-height: 1.5;
    color: #000;
}

/* Layer blur effect */

.layer-blur{
    height: 0;
    width: 30rem;
    position: absolute;
    top: 20%;
    right: 0;
    box-shadow: 0 0 700px 15px white;
    rotate: -30deg;
    z-index: -1;
}

/* Container */

.body-container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

/* Header */

.jobs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem 5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white; /* Change if needed */
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav a {
    font-size: 16px;
    font-family: Arial, sans-serif;
    text-decoration: none;
    padding: 10px 15px;
    color: #2D3E50; /* Dark blue color */
    transition: color 0.2s ease;
}

nav a:hover, nav a.active {
    color: #d61c62;
}

.btn-signing{
    background-color: #a7a7a7;
    color: black;
    padding: 0.8rem 2rem;
    border-radius: 50px;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    transition: background-color 0.2s ease;
    cursor: pointer;
}

.btn-signing:hover{
    background-color: rgb(90, 77, 185);
}

.logo {
    height: 50px;
    margin-right: 20px;
}

/* Main content */

main{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.jobs-content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}

.tag-box{
    position: relative;
    width: 18rem;
    height: 2.5rem;
    border-radius: 50px;
    background: linear-gradient(to right, #656565, #7f42a7, #6600c5, #5300a0, #757575, #656565);
    background-size: 200%;
    animation: animationGradient 2.5s linear infinite;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}

@keyframes animationGradient{
    to {
        background-position: 200%;
    }
}

.tag-box .tag{
    position: absolute;
    inset: 3px 3px 3px 3px;
    background-color: rgb(216, 92, 51);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;
    cursor: pointer;
}

.tag-box .tag:hover{
    color: #5300a0;
}

.jobs-content h1{
   font-size: 3rem;
   font-weight: 700;
   letter-spacing: 0.1rem;
   margin: 2rem 0;
   line-height: 1.2;
   text-shadow: 0 0 10px rgba(128, 128, 128, 0.418); 
}

.description{
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    max-width: 35rem;
    color: black;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.btn-get-started{
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding:  0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}

.btn-get-started:hover{
    background-color: #1a1a1a;
}

.btn-signing-main{
    position: relative;
    padding: 1.5rem 2rem;
    font-size: 1.3rem;
    width: 15rem;
    border-radius: 50px;
    background: transparent;
    border: 2px solid var(--clr);
    color: var(--clr);
    font-weight: 600;
    cursor: pointer;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.75s;
    z-index: 2;
}

.btn-signing-main::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--clr);
    clip-path: circle(0% at 50% 50%);
    transition: 0.75s;
    z-index: -1;
}

.btn-signing-main:hover::after{
    clip-path: circle(100% at 50% 50%);
}

.btn-signing-main:hover {
    color: black;
    box-shadow: 0 0 10px var(--clr),
    0 0 50px var(--clr);
}

.animation {
    position: absolute;
    top: 0;
    right: -20%;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

/* Tablet reponsive */
@media (max-width: 1300px){
    .jobs-header{
        padding: 1rem 0.5rem;
    }
    .jobs-content{
        margin-top: 85%;
    }
    .animation{
        scale: 0.8;
        top: -20%;
        right: 2%;
    }
}

/* Mobbile reponsive */

@media (max-width: 768px){
    .jobs-header{
        padding: 1rem 0.1rem;
    }
    nav{
        display: none;
    }
    .btn-signing{
        padding: 0.6rem 1.5rem;
    }
    .jobs-content{
        margin-top: 25rem;
    }
    .animation{
        scale: 0.5;
        top: -25%;
        right: 0;
    }
    .jobs-content{
        max-width: 30rem;
        margin-left: 10%;
    }
    .tag-box{
        width: 12rem;
    }
    .jobs-content h1{
        font-size: 2.5rem;
    }
    .description{
        font-size: 1rem;
    }
    .btn-get-started{
        font-size: 0.8rem;
        padding: 0.5rem 1.2rem;
    }
    .btn-signing-main{
        font-size: 0.8rem;
        padding: 0.8rem 2rem;
    }
}

/* Info Cards */

.jobs-detail {
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem; 
    margin-top: 10px; 
}

.job-heading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 5px; 
}

.job-heading {
    font-size: 2.5rem; 
    font-weight: 700; 
    color: black; 
    text-align: center;
}

.jobs-card{
    width: 20rem;
    height: 24rem;
    position: relative;
    cursor: pointer;
    border-radius: 20px;
}

.top{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 12rem;
    background: #5f7adb;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: 1s;
    z-index: 1;
}

.top i{
    font-size: 3rem;
    color: white;
}

.jobs-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.jobs-card:hover .top{
    transform: translateY(-100%);
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bottom{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 12rem;
    padding: 1rem;
    text-align: justify;
    background: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    transition: 1s;
}

.bottom h2{
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
    width: 100%;
    text-align: start;
    color: black;
}

.bottom p{
    color: black;
}

.jobs-card:hover .bottom{
    transform: translateY(0);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/* Footer */

.blur{
    position: absolute;
    box-shadow: 0 0 1000px 50px #1d4ed8;
    z-index: -100;
}

.footer-container{
    position: relative;
    display: grid;
    grid-template-columns: 400px repeat(3, 1fr);
    gap: 5rem;
    max-width: 1200px;
    margin: auto;
    padding: 5rem 2rem;
}

.footer-container a {
    text-decoration: none;
}

.footer-container a:hover {
    text-decoration: none;
}

.footer-container .column .logo{
    max-width: 100px;
    margin-bottom: 2rem;
}

.footer-container .column p{
    color: #ccc;
    margin-bottom: 2rem;
}

.media{
    padding: 3px;
    background: conic-gradient(#3498db var(--fill), transparent var(--fill));
    border-radius: 50%;
    cursor: pointer;
    border: none;
    outline: none;
    transition: --fill 0.8s ease-in-out;
}

.media:hover {
    --fill: 100%
}

.media-logo {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    background: #2d2a2a;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.media-logo i{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem; 
    line-height: normal; 
    position: relative;
    top: 5px;
}

.youtube:hover .media-logo i {
    color: red;
}

.facebook:hover .media-logo i {
    color: blue;
}

.email:hover .media-logo i {
    color: #D14836;
}

.github:hover .media-logo i {
    color: purple;
}

.linkedin:hover .media-logo i {
    color: rgb(74, 36, 189);
}

@property --fill {
    syntax: '<percentage>';
    initial-value: 0%;
    inherits: true;
}

.footer-container .column h4{
    color: #fff;
    margin-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
}

.footer-container .column a{
    display: block;
    color: #ccc;
    margin-bottom: 1rem;
    transition: all 0.3s ease;
}

.footer-container .column a:hover{
    color: #1d4ed8;
}
